html, body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0, auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.text-container {
    text-align: center;
}

h1 {
    font-size: 3em;
}

.text {
    text-shadow: 0px 0px #008080, 1px 1px #008080, 2px 2px #008080, 
    3px 3px #008080, 4px 4px #008080, 5px 5px #008080, 6px 6px #008080, 
    7px 7px #008080, 8px 8px #008080, 9px 9px #008080, 10px 10px #008080, 
    11px 11px #008080, 12px 12px #008080, 13px 13px #008080, 14px 14px #008080, 
    15px 15px #008080
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 6em;
    }
}

/* Control Panel */
.controls-container {
    text-align: center;
    margin: 5em;
}


.text-input {
    margin: 1em;
    width: 400px;
}

/* CSS Result Box */
.displayCSS {
    margin: 0, auto;
    text-align: center;
}

 .output {
     display: inline-block;
     text-align: center;
     margin: 0, auto;
     padding: 1em;
     width: 50%;
     border: 2px dashed black;
 }
