.main-heading {
    margin: 0 auto;
    padding: 0rem 2rem;
    text-align: center;
    
    .highlight {
        margin: 0;
        padding: 1rem .5rem;
        background-color: rgba($dark-grey, .5);
    }
}

.sample-text {
    font-size: 1.5rem;
    text-shadow: 1px 1px #FF5733, 2px 2px #FF5733, 3px 3px #FF5733, 4px 4px rgb(199, 0, 57), 5px 5px rgb(199, 0, 57), 6px 6px rgb(199, 0, 57), 7px 7px hsl(318, 73%, 22%), 8px 8px hsl(318, 73%, 22%), 9px 9px hsl(318, 73%, 22%), 10px 10px black;

    @media only screen and (min-width: 640px) {
        font-size: 4rem;
    }
}
