// Colors
$gradient-blue: linear-gradient(to bottom, #2c3e50, #bdc3c7);
$dark-grey: hsl(0, 0, 25%);
$light-blue: hsl(190, 50, 20%);
$black: hsl(0, 0, 0);
$white: hsl(0, 0, 100%);



// Fonts

$font: 'Montserrat', sans-serif;
$font-heavy: 900;
$font-normal: 400;

