.flexbox-form {
    background: rgba($dark-grey, .5);
    box-shadow: 1px 1px 3px $black;
}

input {
    color: $white;
    padding: .5rem;
    border-radius: 4px;
    border: 2px solid rgba($dark-grey, .5), 2px solid white;
    background-color: $light-blue; 
}

input:focus {
    box-shadow: 0 0 5px rgba($white, .5);
}